<div class="starship">    
    <div class="content">
        <div class="section-data" *ngIf="starship">
            <div class="column-left">
                <div class="header">
                    <h2 class="title">{{ starship.name }}</h2>
                    <p class="subtitle">Starship</p>
                </div>

                <div class="production mv-25">
                    <p><span class="bold">Model: </span> {{ starship.model }}</p>
                    <p><span class="bold">Manufacturer: </span> {{ starship.manufacturer }}</p>
                    <p><span class="bold">Cost: </span> {{ starship.cost_in_credits ? ((starship.cost_in_credits | number: '1.0-2') + " credits" ) : '' }}</p>
                    <p><span class="bold">Length: </span>{{ starship.length ? (starship.length | number: '1.0-2') + 'm' : starship.length }}</p>
                    <p><span class="bold">Starship class: </span> {{ starship.starship_class }}</p>
                    <p><span class="bold">MGLT: </span> {{ starship.MGLT }}</p>
                    
                    <hr class="mv-25" />
                    
                    <p><span class="bold">Crew: </span> {{ starship.crew }}</p>
                    <p><span class="bold">Passengers: </span> {{ starship.passengers }}</p>
                    <p><span class="bold">Cargo capacity: </span> {{ starship.cargo_capacity ? ((starship.cargo_capacity | number: '1.0-2') + "kg") : starship.cargo_capacity }}</p>
                    <p><span class="bold">Max aftmosphering speed: </span> {{ starship.max_atmosphering_speed }}</p>
                    <p><span class="bold">Consumables: </span> {{ starship.consumables }}</p>
                </div>
                
                <div class="mv-25">
                    <p *ngFor="let movie of relatedMovies">
                        Episode {{ movie.episode_id }} - {{ movie.title }}
                    </p>
                </div>    
            </div>
            <div class="column-right">
                <div class="image-container">
                    <!-- <img *ngIf="starshipId" [src]="'/assets/img/starships/' + starshipId + '.jpg'" /> -->
                    <img [src]="'/assets/img/default.jpg'" />
                </div>
            </div>
        </div>
    </div>
</div>