<section class="section-wrapper">
    <nav class="section-inner">
        <h1 (click)="goTo('')">star guide</h1>
        <ol>
            <li class="glow txt-glow-blue" (click)="goTo('movies')">Movies</li>
            <li class="glow txt-glow-blue" (click)="goTo('characters')">Characters</li>
            <li class="glow txt-glow-blue" (click)="goTo('planets')">Planets</li>
            <li class="glow txt-glow-blue" (click)="goTo('starships')">Starships</li>
            <li class="glow txt-glow-blue" (click)="goTo('vehicles')">Vehicles</li>
            <li class="glow txt-glow-blue" (click)="goTo('species')">Species</li>
        </ol>
    </nav>
</section>