@import "global/variables";

ol { list-style: none }

nav,
ol {
    display: flex;
    align-items: center;
}

section {
    // position: absolute;
    // top: 0;
    // width: 100%;
    // z-index: 100;
    max-height: $header-max-height;

    nav {
        justify-content: space-between;
    
        > * {
            margin: 0;
        }

        h1 {
            flex-grow: 1;
            font-size: calc(#{$txt-font-size--header} + .85vmin);
            color: $txt-color--default;
            font-family: $txt-font-family--title;
            font-weight: 400;
            user-select: none;
            cursor: pointer;
        }

        ol {
            justify-content: space-around;
            flex-grow: 1;
            padding: 0;
    
            > * {
                user-select: none;
            }

            mat-icon {
                font-size: $txt-font-size--header;
                width: unset;
                height: unset;
                line-height: unset;
                display: inline-block;
                margin-top: 6px;
            }

            li {
                font-size: $txt-font-size--header;
                padding: 0 8.75px;
                cursor: pointer;
                letter-spacing: 3px;
                transition: color 125ms cubic-bezier(.14,.85,.14,.85);
                font-weight: 700;
                color: $txt-color--default;
                border-radius: 5px;
                background: #202020;

                &:hover {
                    background: $txt-color--hover;
                }
            }
        }
    }
}
