@import "global/variables";

section {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    background: linear-gradient(to top, #000 80%, rgba(0,0,0,0));
    width: 100%;
}

p {
    text-align: center;
    margin: 0 auto;
    color: $txt-color--default;
    font-family: 'Star Jedi', sans-serif;

    a {
        color: $txt-color--hover;
    }
}