@import "global/variables";

section {
    // background: linear-gradient(to top, #000 80%, rgba(0,0,0,0));
    width: 100%;
    max-height: $footer-max-height;
}

p {
    text-align: center;
    margin: 0 auto;
    color: $txt-color--default;
    font-family: 'Star Jedi', sans-serif;

    a {
        color: $txt-color--default;
        text-decoration: none;
        border-bottom: 1px solid cyan;
        transition: color 300ms ease,
                    border-bottom 300ms ease;

        &:hover {
            color: cyan;
            border-bottom: 1px solid #000;
        }
    }
}