.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    clear: right;
    margin-top: 0;

    span {
        font-size: 1.1em;
        margin: 0 20px;
    }
}