<div class="movie" *ngIf="movie">
    <button *ngIf="textIsPlaying" (click)="skipOrShowText()">Skip Intro</button>          
    
    <div class="opening-crawl" *ngIf="textIsPlaying">
        <sw-opening-crawl [movie]="movie"></sw-opening-crawl>
    </div>
    
    <sw-entity-detail 
    [title]="movie.title"
    [imagePath]="'/assets/img/movies/' + toRoman(movieId) + '.jpg'"
    [subtitle]="'Episode ' + movie.episode_id">
        <div class="mv-25">
            <p><span class="bold">Director:</span> {{ movie.director }}</p>
            <p><span class="bold">Producer:</span> {{ movie.producer }}</p>
            <p><span class="bold">Release date:</span> {{ movie.release_date }}</p>
        </div>
        <hr class="mv-25" />
        <div>
            <div class="row">
                <h3>Opening Crawl</h3>
                <button (click)="skipOrShowText()">Play Intro</button>                    
            </div>        
            <p class="opening-txt">{{ movie.opening_crawl }}</p>
        </div>    
    </sw-entity-detail>
</div>
