$background-color--default: #050505;

// $txt-color--default: #171715;
$txt-color--default: #f1f1f1;
$txt-color--hover: gold;

$txt-font-family--default: "star jedi", monospace;
$txt-font-family--title: "Star Jedi", sans-serif;

$txt-font-size--header: calc(.35em + 2vmin);

$element-hover--color: #02ffdd;