.card {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid white;
    height: 100%;

    .image-container {
        max-width: 100%;
    
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .body {
        padding: 0 25px;
        
        .name {
            font-size: 1em;
        }
    }
}