ul {
    display: flex;
    flex-flow: row wrap;
}

li {
    list-style-type: none;
    min-width: calc(100% / 6);
    max-width: calc(100% / 6);
    border: 1px solid white;

    &:not(:first-child) {
        margin-left: 10px;
    }
    &:not(:last-child) {
        margin-right: 10px;
    }   
}
